* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'asapregular';
  src: url('assets/fonts/asap-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansitalic';
  src: url('assets/fonts/OpenSans-Italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/SegoeWP.woff') format('woff');
  }

@font-face {
  font-family: 'Segoe WP light';
  src: url('assets/fonts/SegoeWP-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pt_sansregular';
  src: url('assets/fonts/PTS55F-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* HEADER CONTAINER */

.header-container {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.3) 0%, transparent 1%), url("assets/header-bg.png");
  height: 566px; 
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 27px 140px 56px 140px;
}

.header-logo {
  display: flex;
  align-items: center;
  transition: transform .2s;
}

.header-logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logotype {
  width: 83px;
  height: 83px;
}

.header-title {
  display: block;
  font-size: 41px;
  text-transform: uppercase;

  color: #ffffff;
  font-family: 'open_sansitalic';
  font-weight: normal;
  text-shadow: #000000 0px 1px 0px;
  padding: 11px 0px 0px 5px;
}

.nav {
  padding-top: 44px;
  padding-left: 241px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe WP';
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
  background-color: #f5c506;
  width: 462px;
  height: 50px;
  box-shadow: -5px -5px 0px 0px rgba(245, 197, 6, 0.27),
    -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
    transition: transform .2s;
}

.navigation:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav-icon {
  fill: #b99403;
  margin-right: 10px;
}


.navigation li {
  display: flex;
  justify-content: center;
  border-right: 1px solid #b99403;
  height: 100%;
  align-items: center;
}

.navigation li:first-child {
  width: 173px;
  padding-left: 17px;
}

.navigation li:nth-child(2) {
  width: 132px;
  padding-right: 4px;
}

.navigation li:last-child {
  width: 147px;
  border: 0;
  padding-right: 4px;
}

.navigation li a {
  color: #b99403;
  text-decoration: none;
  font-weight: bold;
}

.navigation li a:hover {
  color: #ffffff;
}

@media screen and (max-width: 640px) {


  .header-container {
    background: 0;
    height: auto;
    background-size: 100%;
    margin: 0 auto;
  }

  
  header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 62px;
    align-items: center;
    padding: 0px 0px 0px 0px;
    background: #626262;

  }

  .header-logo {
    display: flex;
    align-items: center;
    width: 186px;
    padding-left: 12px
  }

  .logotype {
    width: 40px;
    height: 40px;
  }

  .header-title {
    display: block;
    font-size: 20px;
    letter-spacing: 0px;
    padding: 5px 0px 0px 5px;
  }

  .nav {
    padding-top: 0px;
    padding-left: 0px;
  }

  .nav-icon {
    fill: #b99403;
    margin-right: 11px;
    width: 24px;
    height: 22px;
  }

  .navigation {
    font-size: 18.5px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #f5c506;
    width: 454px;
    height: 63px;
    box-shadow: none;
  }

  .navigation li {
    display: flex;
    justify-content: flex-start;
    border-right: 1px solid #b99403;
    height: 100%;
    align-items: center;
  }

  .navigation li:first-child {
    width: 158x;
    padding-left: 23px;

  }

  .navigation li:nth-child(2) {
    width: 134px;
  }

  .navigation li:nth-child(2) .nav-icon {
    margin: 0px 6px 0px 8px;
  }

  .navigation li:last-child {
    width: 151px;
    border: 0;
    padding-left: 13px;
  }

  .navigation li:last-child .nav-icon {
    width: 28px;
    height: 22px;
  }

  .navigation li a {
    color: #b99403;
    text-decoration: none;
    font-weight: bold;
  }

  .navigation li a:hover {
    color: #ffffff;
  }
}



/* SLIDER CONTAINER */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-left: 9.31em;
  margin-right: 9.875;
}
.video-container {
  display: block;
  padding-left: 10px;
}

.slider-title-container {
  font-family: 'asapregular';
  display: block;
  padding: 0px 15px 30px 0px;
  line-height: 4.6875em;
  padding-left: 3.1875em;
}

.slider-title-main {
  color: #f5c506;
  padding-left: 40px;
  letter-spacing: -1px
}

.slider-title-main:hover{
  cursor: pointer;
}

.slider-title {
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-title:hover {
  cursor: pointer;
}

.slider-navigation li {
  list-style: none;
}

.wrapper {
  display: flex;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 132px;
  width: 100vw;
  transition: transform .2s;
}

.slider-navigation:hover {
  cursor: pointer;
  transform: scale(.99);
}

.video-poster {
  width: 550px;
  height: 327px;
}

.video-poster:hover {
  cursor: pointer;
}


@media screen and (max-width: 640px) {



  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 640px;
  }

  .slider-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 640px;
  }

  .cursor-left {
    display: none;
  }

  .cursor-right {
    display: none;
  }

  
  .wrapper {
    display: flex;
  }


  .slider-navigation {
    display: none;
  }

  .video-slider {
    width: 640px;
    height: 327px;
  }


  .video-container {
    display: block;
    padding-left: 0px;
    height: 327px;
    width: 640px;
  }

  
  .video-poster {
    height: auto;
    max-width: 100%;
  }

  .slider-title-container {
    display: none;
  }
}


/* FEATURES SECTION */

.features {
  height: 212px;
  background: url('assets/features-bg.png');
  margin: 0 auto;
}

.features-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1021px;
  margin: 0 auto;
}

.features-item {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #d3d3d3;
  width: 340px;
  height: 212px;
  font-family: 'Segoe WP light';
  font-size: 27px;
  letter-spacing: 0px;
  text-transform: uppercase;
  transition: transform .2s;
}

.features-item:first-child {
  width: 341px;
}

.features-item:nth-child(2) {
  width: 340px;
}

.features-item:last-child {
  width: 341px;
}

.features-item:first-child p {
  padding: 1px 0px 0px 23px;
}

.features-item:nth-child(2) p {
  padding: 0px 2px 0px 0px;
}


.features-item:last-child p {
  padding: 0px 0px 0px 5px;
}


.features-item:first-child {
  padding: 61px 5px 0px 0px;
  line-height: 37px;
  letter-spacing: 0.3px;
}

.features-item:first-child p:hover {
   cursor: pointer;
   transform: scale(1.1);
}


.features-item:nth-child(2) {
  padding: 37px 0px 0px 23px;
  line-height: 42px;
  letter-spacing: 0.3px;
}

.features-item:nth-child(2) p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.features-item:last-child {
  padding: 54px 20px 0px 0px;
  line-height: 37px;
  letter-spacing: 0.3px;
  border-right: 1px solid #d3d3d3;
}

.features-item:last-child p:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon3:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon4:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 640px) {


  /* FEATURES CONTAINER 640px */

  .features {
    width: 640px;
    height: 179px;
    background: url(assets/features-bg.png);
    box-shadow: 0;
    position: relative;
    z-index: 10;
    top: -9px;
    padding-top: 13px;
  }

  .features-wrapper {
    justify-content: flex-start;
    width: 640px;
  }

  .features-item {
    border: 0;
    height: 169px;
    font-size: 23px;
  }

  .icon2 {
    width: 89px;
  }

  .icon3 {
    width: 67px;
  }

  .icon4 {
    width: 68px;
  }

  .features-item:first-child {
    width: 241px;
    padding: 30px 36px 0px 0px;
    line-height: 37px;
    letter-spacing: 0.3px;
  }

  .features-item:first-child p {
    padding: 5px 0px 0px 12px;
  }

  .features-item:nth-child(2) {
    width: 240px;
    padding: 25px 0px 0px 15px;
    line-height: 37px;
    letter-spacing: 0.3px;
  }

  .features-item:nth-child(2) p {
    padding: 0px 0px 0px 0px;
  }

  .features-item:last-child {
    width: 241px;
    padding: 25px 7px 0px 0px;
    line-height: 37px;
    letter-spacing: 0.3px;
    border-right: 0;
  }

  .features-item:last-child p {
    padding: 0px 0px 0px 11px;
  }
}

/* TWITTER CONTAINER */

.news-header
{
  font-size: 37px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'pt_sansregular';
  font-weight: 400;
  padding: 31px 1px;
}

.news-container {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.3) 0%, transparent 1%), url("assets/yellow-bg.png");
  background-size: 100%;
  height: 509px;
  margin: 0 auto;
}

.space {
  display: none;
}

.news {
  width: 1022px;
  margin: 0 auto;
}

.news-wrapper {
  display: flex;
  align-items: flex-start;
  width: 1022px;
  margin: 0 auto;
  height: auto;
}

.news-item {
  display: flex;
  width: 665px;
  flex-wrap: wrap;
  height: auto;
}

.news-content {
  position: relative;
  width: 341px;
  background: #ec9e03;
  font-family: 'Segoe WP light';
  font-size: 29px;
  color: #ffffff;
  font-weight: normal;
  padding: 16px 0px 0px 30px;
  letter-spacing: 0.3px;
  line-height: 38px;
  height: 233px;
}

.media-news {
  width: 318px;
  height: 232px;
}

.date {
  width: 113px;
  height: 86px;
  background: #ddb101;
  font-family: 'Segoe WP';
  color: #b26529;
  font-size: 20.8px;
  text-align: left;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 0.5px;
  padding: 22px 29px;
}

.date_day {
  font-size: 50px;
  color: #ffffff;
  font-family: 'Segoe UI Bold', sans-serif;
  font-weight: bold;
  padding: 0px 1px;
}

.date_month {
  padding: 9px 3px;
}

.shape-11 {
  position: absolute;
  opacity: 0.7;
  bottom: 13px;
  right: 14px;
}

.shape-11:hover {
  cursor: pointer;
 opacity: 1;
}

.news-text-640 {
  display: none;
}

.video-news {
  height: 232px;
}

.yellow-circle {
  position: absolute;
  width: 116px;
    height: 116px;
    background-color: #f5c506;
    border-radius: 180px;
    margin: 117px 23px;
}

.yellow-circle-text {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 120px;
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: bold;
}


@media screen and (max-width: 640px) {


  /* News section 640px */

  .news-header {
    display: none;
  }

  .news-container {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.3) 0%, transparent 1%), url("assets/fon3.png");
    background-size: 100%;
    height: auto;
    width: 640px;
    margin: 0 auto;
  }

  .news {
    width: 640px;
    margin: 0 auto;
  }

  .news-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
    height: auto;
  }

  .space {
    display: block;
    width: 9px;
    background: #ffffff;
  }

  .news-item {
    display: flex;
    width: 640px;
    padding: 1px 9px 9px 9px;
    height: auto;
    background: #ffffff;
  }

  .news-content {
    position: relative;
    width: 299px;
    background: #ec9e03;
    font-family: 'Segoe WP light';
    font-size: 29px;
    color: #ffffff;
    font-weight: normal;
    height: 232px;
    margin-top: 1px;
  }

  .news-text {
    display: block;
    margin-left: 5px;
  }

  .media-news {
    width: 314px;
    height: 230px;
  }

  .date {
    display: none;
  }

  .shape-11 {
    position: absolute;
    fill: #ffffff;
    opacity: 0.7;
    bottom: 18px;
    right: 12px;
  }

  .video-news {
    height: 232px;
  }
}


/* Twitter section */

.news-item-twitter {
  background: #ec9e03;
  margin-right: 3px;
  position: relative;
  width: 329px;
  height: 233px;
  background-image: url(assets/twitter.svg);
  background-repeat: no-repeat;
  background-position: 76px 58px;
}

.date-second {
  text-align: right;
  padding: 15px 18px;
  color: #ffffff;
  font-family: 'Segoe WP light';
  font-size: 24.5px;
}

.shape-12 {
  position: absolute;
  opacity: 0.7;
  bottom: 13px;
  right: 10px;
}

.shape-12:hover {
  cursor: pointer;
 opacity: 1;
}

.twitter-chat {
  display: none;
}


/* RANGE */

.range {
  padding: 43px 74px;
}

input[type=range] {
 -webkit-appearance: none;
  width: 895px;
  height: 15px;
  margin: 0px 0;
  background: rgba(255, 255, 255, 0.3);

  border-radius: 25px;
}

input[type=range]:focus {
  outline: none;
}



input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  border: 0;
  height: 15px;
  width: 195px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 640px) {




  .news-item-twitter {
    display: flex;
    margin-right: 3px;
    position: relative;
    width: 640px;
    height: 233px;
    background: #f5c507;

  }

  .twitter {
    width: 337px;
    background-repeat: no-repeat;
    background-image: url(assets/twitter.svg);
    background-position: 76px 57px;
  }

  .date-second {
    display: none;
  }

  .shape-12 {
    display: none;
  }

  .twitter-chat {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.05px;
    color: #8f8e8e;
    letter-spacing: 0.1px;
    width: 329px;
    height: 233px;
  }

  .twit-new {
    width: 284px;
    height: 80px;
    background: url(assets/twitter-bubble.png);
    background-repeat: no-repeat;
    background-position: 0px 24px;
  }

  .twit-old {
    width: 284px;
    height: 55px;
    background: url(assets/twitter-bubble-trans.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    fill: #FCEEB5;
  }

  .tweet-message-new {
    padding: 31px 0px 0px 28px;
  }

  .tweet-message {
    padding: 7px 0px 0px 28px;
  }

  form {
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  input[type="text"] {
    outline: none;
    border: 1px solid #d0a806;
    padding: 5px 3px 5px 30px;
    margin: 1px 12px;
    display: block;
    width: 272px;
    height: 31px;
    background: #fff;
    border-radius: 12px;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.27);
  }

  button[type="submit"] {
    position: absolute;
    top: 2px;
    right: 13px;
    z-index: 9;
    outline: none;
    border: none;
    display: inline-block;
    background: #d08f0c;
    background: linear-gradient(to bottom, #eaa927 0%, #d08f0c 100%);
    color: #fff;
    padding: 0px 3px 0px 0px;
    width: 69px;
    height: 30px;
    font-size: 15px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background: darkgreen;
  }

  /* Range */

  .range {
    display: none;
  }

}



/* PRODUCT CONTAINER */

.product-container {

  margin: 0 auto;
  background: #4c4c4c;
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.7) 0%, transparent 1.5%), url("assets/grey-bg.png");
  background-size: 100%;
  height: 499px;
}

.product-wrapper {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  width: 1035px;
  grid-template-areas: "a a"
    "b c";
  height: 499px;
}

.product-header {
  grid-area: a;
  font-size: 43px;
  color: #f5c506;
  font-family: 'pt_sansregular';
  font-weight: 400;
  text-align: center;
  padding: 48px 0px 57px 0px;
  height: 32px;
}

.composite-layer {
  grid-area: b;
  width: 540px;
  height: 255px;
  background-image: url(assets/CompositeLayer.svg);
  background-repeat: no-repeat;
  background-position: 3px 1px;
}

.products {
  grid-area: c;
  padding: 40px 0px 0px 60px;
}


.product-list li {
  display: flex;
  list-style: none;
  font-family: 'pt_sansregular', sans-serif;
  font-size: 22px;
  width: auto;
  color: #a9a9a7;
}

.product-list li::before {
  content: "";
  color: #f5c506;
  font-weight: bold;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #f5c506;
  border-radius: 50% 50% 50% 50%;
}

.product-list li:first-child::before {
  margin-right: 19px;
}

.product-list li:first-child p {
  line-height: 10px;
  letter-spacing: 0.65px;
  font-size: 21px;
  height: 50px;
  padding: 2px 0px;
}


.product-list li:nth-child(2)::before {
  margin-right: 19px;
}

.product-list li:nth-child(2) p {
  margin-top: -10px;
  line-height: 26.5px;
  letter-spacing: 0.7px;
  font-size: 21px;
  height: 76px;
  padding: 2px 0px;
}

.product-list li:nth-child(3)::before {
  margin-right: 19px;
}

.product-list li:nth-child(3) p {
  margin-top: -10px;
  line-height: 27px;
  letter-spacing: 0.7px;
  font-size: 21px;
  height: 61px;
  padding: 2px 0px;
}

.product-list li:last-child::before {
  margin-right: 19px;
}

.product-list li:last-child p {
  margin-top: -10px;
  line-height: 26.5px;
  letter-spacing: 0.7px;
  font-size: 21px;
  height: 50px;
  padding: 2px 0px;
}

.word-omnis {
  letter-spacing: -0.8px;
}


@media screen and (max-width: 640px) {


  /* PRODUCT CONTAINER*/

  .products {
    display: none;
  }

  .product-header {
    grid-area: a;
    font-size: 22px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #f5c506;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 31px 0px 0px 18px;
    width: 640px;
    height: 35px;
  }

  .product-container {
    width: 640px;
    margin: 0 auto;
    background: #4c4c4c;
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.7) 0%, transparent 1.5%), url("assets/grey-bg.png");
    height: 466px;
  }

  .product-wrapper   {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    width: 640px;
    grid-template-areas: "a a"
      "b b";
    height: 466px;
  }

  .products {
    display: none;
  }

  .composite-layer {
    grid-area: b;
    width: 592px;
    height: 322px;
    background-image: url(assets/CompositeLayer.svg);
    background-repeat: no-repeat;
    background-position: 40px 80px;
  }
}

/* FOOTER CONTAINER */

footer {
  margin: 0 auto;
  background: #4c4c4c;
  height: 64px;
}

.footer-container {
  margin: 0 auto;
}

.logo-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 1px 0px 0px 139px;
}

.footer-header {
  display: block;
  font-size: 29.35px;
  text-transform: uppercase;
  font-style: italic;
  color: #ffffff;
  font-family: 'open_sansitalic';
  font-weight: normal;
  text-shadow: #000000 0px 1px 0px;
  padding: 3px 0px 0px 5px;
}

.logotype-footer {
  margin: 4px 0px 2px 0px;
  padding: 0px;
  width: 55px;
  height: 56px;
}

@media screen and (max-width: 640px) {

  

  footer {
    margin: 0 auto;
    background: #4c4c4c;
    width: 640px;
    height: 43px;
  }

  .logo-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 640px;
    margin: 0 auto;
    padding: 0px 0px 0px 63px;
  }

  .footer-header {
    font-size: 16.5px;
    letter-spacing: 0px;
    padding: 5px 0px 0px 5px;

  }

  .footer-container {
    width: 640px;
    margin: 0 auto;
  }

  .logotype-footer {
    margin: 5px 2px 1px 0px;
    padding: 0px;
    width: 35px;
    height: 33px;
  }

}